<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog :: Register</title>
</head>
<body>
<div class="bg-image"
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 100vh">
    <div class="head"></div>
<div class="container">
    <h1>Spring Boot Blog Application</h1>
    <hr />
    <a th:href="@{/}">Home</a>
    <h2>Register New Account</h2>
    <form action="#"
          th:action="@{/register}"
          th:object="${user}"
          method="post">
        <div th:if="${message != null}" class="m-3">
            <p class="text-danger">[[${message}]]</p>
        </div>
        <div>
            <label for="firstname">First Name</label>
            <input id="firstname" type="text" th:field="*{firstName}" placeholder="First Name"/>
        </div>
        <div>
            <label for="lastname">Last Name</label>
            <input id="lastname" type="text" th:field="*{lastName}" placeholder="Last Name"/>
        </div>
        <div>
            <label for="email">Email</label>
            <input id="email" type="text" th:field="*{email}" placeholder="Email"/>
        </div>

        <div>
            <label for="password">Password</label>
            <input id="password" type="password" th:field="*{password}" placeholder="Password"/>
        </div>
<!--        <p>-->
<!--            <input type="password" class="form-control" placeholder="Confirm  password"-->
<!--                   required oninput="checkPasswordMatch(this);" />-->
<!--        </p>-->
        <div>
            <label for="password">Re-Password</label>
            <input id="passwordRe" type="password" th:field="*{RetypePassWord}" placeholder="Password"/>
        </div>
        <div>
            <label for="street">Street</label>
            <input id="street" type="text" th:field="*{street}" placeholder="street"/>
        </div>
        <div>
            <label for="HouseNr">HouseNr</label>
            <input id="HouseNr" type="text" th:field="*{HouseNr}" placeholder="HouseNr"/>
        </div>
        <div>
            <label for="city">city</label>
            <input id="city" type="text" th:field="*{city}" placeholder="city"/>
        </div>
        <div>
            <label for="ZIP">ZIP</label>
            <input id="ZIP" type="text" th:field="*{ZIP}" placeholder="ZIP"/>
        </div>

        <button type="submit">Register!</button>
    </form>
</div>
<script src="/css/main.js"></script>
</body>
</html>